node-red/flows.json
[{"id":"2f9b58d1f9172efa","type":"tab","label":"HTTP","disabled":false,"info":"","env":[]},{"id":"fbaf1376d7a402c1","type":"tab","label":"camera_hk","disabled":true,"info":"","env":[]},{"id":"e5b6339a0f552a15","type":"tab","label":"camera_unv","disabled":false,"info":"","env":[]},{"id":"c6c10f6d57076b13","type":"tab","label":"laser","disabled":false,"info":"","env":[]},{"id":"b48f1bf98b8323df","type":"tab","label":"hk_test","disabled":false,"info":"","env":[]},{"id":"2c27b5a30c1815ba","type":"tab","label":"unv_test","disabled":false,"info":"","env":[]},{"id":"39a4b5009cb84f4e","type":"tab","label":"onstart","disabled":false,"info":"","env":[]},{"id":"c7e24f6604af61be","type":"group","z":"fbaf1376d7a402c1","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["75e1a3f0fed18cbd","786e952af45abbe0","3f4f0dc70fc37541","d279bf412a1d5425","5bcd6204eb7e6827"],"x":94,"y":679,"w":312,"h":162},{"id":"2835ecbaea4bfcc0","type":"group","z":"fbaf1376d7a402c1","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["dedc37076312ddbd","d7f095c29f65af55","8502a7820c45138a","9b644c01ba618f75","57f5599bc995bfa6"],"x":94,"y":199,"w":312,"h":162},{"id":"bcb0ab03116fc4bb","type":"serial-port","name":"","serialport":"COM8","serialbaud":"115200","databits":8,"parity":"none","stopbits":1,"waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"200","bin":"bin","out":"time","addchar":"","responsetimeout":10000},{"id":"648db23c2690c43c","type":"http in","z":"2f9b58d1f9172efa","name":"","url":"/zoom","method":"get","upload":false,"swaggerDoc":"","x":140,"y":180,"wires":[["f08c7936b0b88bea"]]},{"id":"c2f362cae83a93a9","type":"http response","z":"2f9b58d1f9172efa","name":"","statusCode":"","headers":{},"x":450,"y":180,"wires":[]},{"id":"f08c7936b0b88bea","type":"function","z":"2f9b58d1f9172efa","name":"function 1","func":"msg.payload = global.get(\"cam1zoom\");\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":180,"wires":[["c2f362cae83a93a9"]]},{"id":"587321e860790c16","type":"http in","z":"2f9b58d1f9172efa","name":"","url":"/focus","method":"get","upload":false,"swaggerDoc":"","x":140,"y":240,"wires":[["a8c3b703f354befd"]]},{"id":"08c8c4ef50f1a2d4","type":"http response","z":"2f9b58d1f9172efa","name":"","statusCode":"","headers":{},"x":450,"y":240,"wires":[]},{"id":"a8c3b703f354befd","type":"function","z":"2f9b58d1f9172efa","name":"function 2","func":"msg.payload = global.get(\"cam1focus\");\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":240,"wires":[["08c8c4ef50f1a2d4"]]},{"id":"27886ab86993c7c9","type":"http in","z":"2f9b58d1f9172efa","name":"","url":"/laser","method":"get","upload":false,"swaggerDoc":"","x":140,"y":300,"wires":[["1bd11b425532ca08"]]},{"id":"2053fd5b47d687eb","type":"http response","z":"2f9b58d1f9172efa","name":"","statusCode":"","headers":{},"x":450,"y":300,"wires":[]},{"id":"1bd11b425532ca08","type":"function","z":"2f9b58d1f9172efa","name":"function 3","func":"msg.payload = global.get(\"laser\");\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":300,"wires":[["2053fd5b47d687eb"]]},{"id":"04c9f951c4f39d15","type":"http in","z":"2f9b58d1f9172efa","name":"","url":"/setzoom","method":"get","upload":false,"swaggerDoc":"","x":150,"y":400,"wires":[["3c3e97c9bac6e3cb","14a553490716c0c5"]]},{"id":"68d757abce2dd03c","type":"http response","z":"2f9b58d1f9172efa","name":"","statusCode":"","headers":{},"x":750,"y":400,"wires":[]},{"id":"3c3e97c9bac6e3cb","type":"function","z":"2f9b58d1f9172efa","name":"function 4","func":"global.set(\"cam1zoom\",msg.payload.value);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":400,"wires":[["68d757abce2dd03c","e8a61dedecd86c53"]]},{"id":"1f9673862d967ea6","type":"http in","z":"2f9b58d1f9172efa","name":"","url":"/setfocus","method":"get","upload":false,"swaggerDoc":"","x":150,"y":460,"wires":[["a4555070f3964a56","0b2ba104f8327dde"]]},{"id":"67f804b555d04d5a","type":"http response","z":"2f9b58d1f9172efa","name":"","statusCode":"","headers":{},"x":750,"y":460,"wires":[]},{"id":"a4555070f3964a56","type":"function","z":"2f9b58d1f9172efa","name":"function 5","func":"global.set(\"cam1focus\",msg.payload.value);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":460,"wires":[["67f804b555d04d5a","e8a61dedecd86c53"]]},{"id":"14a553490716c0c5","type":"debug","z":"2f9b58d1f9172efa","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":320,"y":360,"wires":[]},{"id":"0b2ba104f8327dde","type":"debug","z":"2f9b58d1f9172efa","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":320,"y":520,"wires":[]},{"id":"e8a61dedecd86c53","type":"link out","z":"2f9b58d1f9172efa","name":"OUT_CAMERA","mode":"link","links":["809fc9fc8e25b71a","7700fd3c7ede42d7"],"x":505,"y":440,"wires":[]},{"id":"607fb801b885b97e","type":"http in","z":"2f9b58d1f9172efa","name":"","url":"/mode","method":"get","upload":false,"swaggerDoc":"","x":140,"y":100,"wires":[["c04f796453101c24","4d16084d4068ed8b"]]},{"id":"d88175cd3b585ce5","type":"http response","z":"2f9b58d1f9172efa","name":"","statusCode":"","headers":{},"x":450,"y":80,"wires":[]},{"id":"c04f796453101c24","type":"function","z":"2f9b58d1f9172efa","name":"function 15","func":"global.set(\"mode\",msg.payload.mode);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":40,"wires":[["d88175cd3b585ce5","27134fd8a18cb5bb"]]},{"id":"4d16084d4068ed8b","type":"debug","z":"2f9b58d1f9172efa","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":320,"y":120,"wires":[]},{"id":"27134fd8a18cb5bb","type":"switch","z":"2f9b58d1f9172efa","name":"","property":"mode","propertyType":"global","rules":[{"t":"eq","v":"auto","vt":"str"},{"t":"eq","v":"manual","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":40,"wires":[["b2274bf8610139dc"],["97c3d5bbf7d0cc8d"]]},{"id":"b2274bf8610139dc","type":"link out","z":"2f9b58d1f9172efa","name":"OUT_DO_AUTO","mode":"link","links":["479f35c15608a2f0","5f306ad82463b988"],"x":685,"y":40,"wires":[]},{"id":"f203a6e931210f10","type":"http in","z":"2f9b58d1f9172efa","name":"","url":"/data","method":"get","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":580,"y":240,"wires":[["63539e6983dec721"]]},{"id":"2f542e1c3d08abc8","type":"http response","z":"2f9b58d1f9172efa","name":"","statusCode":"","headers":{},"x":1030,"y":240,"wires":[]},{"id":"63539e6983dec721","type":"function","z":"2f9b58d1f9172efa","name":"function 48","func":"msg.payload = [global.get(\"laser\"),\nglobal.get(\"cam1zoom\"),\nglobal.get(\"cam1focus\")]\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":240,"wires":[["2f542e1c3d08abc8"]]},{"id":"97c3d5bbf7d0cc8d","type":"link out","z":"2f9b58d1f9172efa","name":"OUT_DO_MANUAL","mode":"link","links":["b8a54df008ee846f"],"x":685,"y":80,"wires":[]},{"id":"526ede2937920e5a","type":"http in","z":"2f9b58d1f9172efa","name":"","url":"/readCamera","method":"get","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":610,"y":300,"wires":[["45fc5a6835e31c8d","57c32e2524ecd17c"]]},{"id":"a8b1cb2c34e7cf1b","type":"http response","z":"2f9b58d1f9172efa","name":"","statusCode":"","headers":{},"x":1030,"y":300,"wires":[]},{"id":"45fc5a6835e31c8d","type":"function","z":"2f9b58d1f9172efa","name":"function 51","func":"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":300,"wires":[["a8b1cb2c34e7cf1b"]]},{"id":"57c32e2524ecd17c","type":"link out","z":"2f9b58d1f9172efa","name":"IN_READ_CAMERA","mode":"link","links":["72aef53e6ad2c058"],"x":755,"y":340,"wires":[]},{"id":"cde2502b0a28e904","type":"http in","z":"2f9b58d1f9172efa","name":"","url":"/do_zoom","method":"get","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":160,"y":620,"wires":[["47024385ab1a210a","d2077359603d19d3"]]},{"id":"566d68615c691576","type":"http response","z":"2f9b58d1f9172efa","name":"","statusCode":"","headers":{},"x":750,"y":620,"wires":[]},{"id":"47024385ab1a210a","type":"link out","z":"2f9b58d1f9172efa","name":"OUT_DO_ZOOM","mode":"link","links":["914a818a87a52063"],"x":305,"y":680,"wires":[]},{"id":"d2077359603d19d3","type":"delay","z":"2f9b58d1f9172efa","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":440,"y":620,"wires":[["566d68615c691576"]]},{"id":"1ff734c963cedf79","type":"http in","z":"2f9b58d1f9172efa","name":"","url":"/auto_focus","method":"get","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":160,"y":800,"wires":[["e96a36831945fbcf","f8d5a0418f4ce7c8"]]},{"id":"e96a36831945fbcf","type":"link out","z":"2f9b58d1f9172efa","name":"OUT_AUTO_FOCUS","mode":"link","links":["1c840bf645f028d4"],"x":305,"y":860,"wires":[]},{"id":"f8d5a0418f4ce7c8","type":"http response","z":"2f9b58d1f9172efa","name":"","statusCode":"","headers":{},"x":490,"y":800,"wires":[]},{"id":"5bcd6204eb7e6827","type":"comment","z":"fbaf1376d7a402c1","g":"c7e24f6604af61be","name":"100","info":"","x":170,"y":720,"wires":[]},{"id":"d279bf412a1d5425","type":"function","z":"fbaf1376d7a402c1","g":"c7e24f6604af61be","name":"-","func":"global.set(\"cam1zoom\", global.get(\"cam1zoom\")-100);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":800,"wires":[["f1c587b339d80398"]]},{"id":"3f4f0dc70fc37541","type":"inject","z":"fbaf1376d7a402c1","g":"c7e24f6604af61be","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":800,"wires":[["d279bf412a1d5425"]]},{"id":"786e952af45abbe0","type":"function","z":"fbaf1376d7a402c1","g":"c7e24f6604af61be","name":"+","func":"global.set(\"cam1zoom\", global.get(\"cam1zoom\")+100);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":760,"wires":[["f1c587b339d80398"]]},{"id":"75e1a3f0fed18cbd","type":"inject","z":"fbaf1376d7a402c1","g":"c7e24f6604af61be","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":760,"wires":[["786e952af45abbe0"]]},{"id":"57f5599bc995bfa6","type":"comment","z":"fbaf1376d7a402c1","g":"2835ecbaea4bfcc0","name":"100","info":"","x":170,"y":240,"wires":[]},{"id":"9b644c01ba618f75","type":"function","z":"fbaf1376d7a402c1","g":"2835ecbaea4bfcc0","name":"-","func":"global.set(\"cam1focus\", global.get(\"cam1focus\")-100);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":320,"wires":[["f1c587b339d80398"]]},{"id":"8502a7820c45138a","type":"inject","z":"fbaf1376d7a402c1","g":"2835ecbaea4bfcc0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":320,"wires":[["9b644c01ba618f75"]]},{"id":"d7f095c29f65af55","type":"function","z":"fbaf1376d7a402c1","g":"2835ecbaea4bfcc0","name":"+","func":"global.set(\"cam1focus\", global.get(\"cam1focus\")+100);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":280,"wires":[["f1c587b339d80398"]]},{"id":"dedc37076312ddbd","type":"inject","z":"fbaf1376d7a402c1","g":"2835ecbaea4bfcc0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":280,"wires":[["d7f095c29f65af55"]]},{"id":"330340d5d9ef5693","type":"http request","z":"fbaf1376d7a402c1","name":"","method":"PUT","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"digest","senderr":false,"headers":[],"x":520,"y":140,"wires":[["1775754215dd713d"]]},{"id":"71f22705ba9786e3","type":"inject","z":"fbaf1376d7a402c1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":140,"wires":[["f1c587b339d80398"]]},{"id":"f1c587b339d80398","type":"function","z":"fbaf1376d7a402c1","name":"function 6","func":"msg.url = global.get(\"cam1url\")+ \"ISAPI/PTZCtrl/channels/1/absoluteEx\";\nmsg.payload = '<?xml version=\"1.0\" encoding=\"UTF-8\"?><PTZAbsoluteEx xmlns=\"http://www.isapi.org/ver20/XMLSchema\" version=\"2.0\">'+\n  '<absoluteZoom>'+\n  global.get(\"cam1zoom\")+\n  '</absoluteZoom>'+\n  '<focus>'+\n  global.get(\"cam1focus\") +\n  '</focus>'+\n  '<horizontalSpeed>5</horizontalSpeed>'+\n'</PTZAbsoluteEx>';\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":140,"wires":[["330340d5d9ef5693"]]},{"id":"1775754215dd713d","type":"debug","z":"fbaf1376d7a402c1","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":140,"wires":[]},{"id":"7f7b1f95b8627543","type":"inject","z":"fbaf1376d7a402c1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":60,"wires":[["f005bf82856388f9"]]},{"id":"f005bf82856388f9","type":"function","z":"fbaf1376d7a402c1","name":"function 7","func":"global.set(\"cam1url\",\"http://192.168.1.64/\");\nglobal.set(\"cam1zoom\",8000*2+300);\nglobal.set(\"cam1focus\", 30000);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":60,"wires":[[]]},{"id":"0b2aa577f0534969","type":"inject","z":"fbaf1376d7a402c1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":400,"wires":[["15fc9b6e08d8acc4"]]},{"id":"15fc9b6e08d8acc4","type":"function","z":"fbaf1376d7a402c1","name":"function 9","func":"global.set(\"cam1focus\", 27101);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":400,"wires":[["f1c587b339d80398"]]},{"id":"a29594e3d998bad9","type":"inject","z":"fbaf1376d7a402c1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":500,"wires":[["15eef9fcbe8e9a6e"]]},{"id":"15eef9fcbe8e9a6e","type":"function","z":"fbaf1376d7a402c1","name":"function 10","func":"global.set(\"cam1focus\", 3000000);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":500,"wires":[["f1c587b339d80398"]]},{"id":"e0bc1d359798d3ec","type":"inject","z":"fbaf1376d7a402c1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":580,"wires":[["5dec9d2386fc8e50"]]},{"id":"5dec9d2386fc8e50","type":"function","z":"fbaf1376d7a402c1","name":"function 11","func":"global.set(\"cam1focus\", 400);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":580,"wires":[["f1c587b339d80398"]]},{"id":"01206659a9300ad6","type":"comment","z":"fbaf1376d7a402c1","name":"8.412","info":"8.412\ncam1focus 12100\ncam1zoom 16300","x":90,"y":440,"wires":[]},{"id":"10ac7f249105feb8","type":"inject","z":"fbaf1376d7a402c1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":590,"y":420,"wires":[["82104ac4243745c1"]]},{"id":"82104ac4243745c1","type":"function","z":"fbaf1376d7a402c1","name":"function 13","func":"global.set(\"cam1url\",\"http://192.168.1.64/\");\nglobal.set(\"cam1zoom\",16300-5400);\nglobal.set(\"cam1focus\", 46800);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":420,"wires":[[]]},{"id":"1244423183ff084c","type":"comment","z":"fbaf1376d7a402c1","name":"2.629","info":"2.629\ncam1focus 46100\ncam1zoom 10900","x":90,"y":540,"wires":[]},{"id":"b029215cb83122d9","type":"http request","z":"fbaf1376d7a402c1","name":"","method":"GET","ret":"bin","paytoqs":"ignore","url":"http://192.168.1.64/ISAPI/Streaming/channels/101/picture","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"digest","senderr":false,"headers":[],"x":460,"y":980,"wires":[["e6a44a76bc4f5f48","73d40adae5ca0afd"]]},{"id":"f0d43653b73d7721","type":"file","z":"fbaf1376d7a402c1","name":"","filename":"static/pic.jpg","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":810,"y":980,"wires":[[]]},{"id":"e6a44a76bc4f5f48","type":"debug","z":"fbaf1376d7a402c1","name":"debug 5","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":580,"y":1100,"wires":[]},{"id":"73d40adae5ca0afd","type":"function","z":"fbaf1376d7a402c1","name":"function 14","func":"msg = {payload: msg.payload};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":980,"wires":[["f0d43653b73d7721"]]},{"id":"809fc9fc8e25b71a","type":"link in","z":"fbaf1376d7a402c1","name":"IN_CAMERA","links":["e8a61dedecd86c53"],"x":235,"y":100,"wires":[["f1c587b339d80398"]]},{"id":"813e086406ba4ed4","type":"inject","z":"fbaf1376d7a402c1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":1080,"wires":[["4ecf70a6047d314b"]]},{"id":"4ecf70a6047d314b","type":"trigger","z":"fbaf1376d7a402c1","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-400","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":310,"y":1080,"wires":[["b029215cb83122d9"]]},{"id":"b1d388baa051f1be","type":"inject","z":"fbaf1376d7a402c1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":620,"y":300,"wires":[["292db7dab3f8a5d0"]]},{"id":"292db7dab3f8a5d0","type":"function","z":"fbaf1376d7a402c1","name":"do auto","func":"// 分段线性插值函数\nfunction getValuesByDistance(distance) {\n    // 数据点按distance排序\n    const dataPoints = [\n        {distance: 1,     focus: 35400, zoom: 5400},\n        {distance: 1.701, focus: 42600, zoom: 9100},\n        { distance: 2.567, focus: 46970, zoom: 11382 },\n        //{distance: 2.629, focus: 46100, zoom: 10900},\n        { distance: 3.231, focus: 47624, zoom: 12638 },\n        {distance: 3.662, focus: 47000, zoom: 13200},\n        {distance: 4.11, focus: 45001, zoom: 13793},\n        {distance: 4.335, focus: 43144, zoom: 14183},\n        {distance: 5.377, focus: 31104, zoom: 15432},\n        {distance: 8.412, focus: 12100, zoom: 16300}\n    ];\n    \n    // 边界情况：小于最小值\n    if (distance <= dataPoints[0].distance) {\n        return {\n            focus: dataPoints[0].focus,\n            zoom: dataPoints[0].zoom\n        };\n    }\n    \n    // 边界情况：大于最大值\n    if (distance >= dataPoints[dataPoints.length - 1].distance) {\n        const lastPoint = dataPoints[dataPoints.length - 1];\n        return {\n            focus: lastPoint.focus,\n            zoom: lastPoint.zoom\n        };\n    }\n    \n    // 查找插值区间并进行线性插值\n    for (let i = 0; i < dataPoints.length - 1; i++) {\n        const p1 = dataPoints[i];\n        const p2 = dataPoints[i + 1];\n        \n        if (distance >= p1.distance && distance <= p2.distance) {\n            // 计算插值系数\n            const t = (distance - p1.distance) / (p2.distance - p1.distance);\n            \n            // 线性插值计算\n            const focus = Math.round(p1.focus + (p2.focus - p1.focus) * t);\n            const zoom = Math.round(p1.zoom + (p2.zoom - p1.zoom) * t);\n            \n            return {\n                focus: focus,\n                zoom: zoom\n            };\n        }\n    }\n}\n\nvar obj = getValuesByDistance( global.get('laser') );\nglobal.set(\"cam1zoom\",obj.zoom);\nglobal.set(\"cam1focus\", obj.focus);\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":300,"wires":[["f1c587b339d80398"]]},{"id":"479f35c15608a2f0","type":"link in","z":"fbaf1376d7a402c1","name":"IN_DO_AUTO","links":["b2274bf8610139dc"],"x":725,"y":340,"wires":[["292db7dab3f8a5d0"]]},{"id":"c1ba72e87ef384ec","type":"http request","z":"e5b6339a0f552a15","name":"命令下发","method":"PUT","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"digest","senderr":false,"headers":[],"x":520,"y":160,"wires":[["d9d7dc4ac7afafd6"]]},{"id":"dad578ae254707c3","type":"inject","z":"e5b6339a0f552a15","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":160,"wires":[["51e2904ef44b90cf"]]},{"id":"51e2904ef44b90cf","type":"function","z":"e5b6339a0f552a15","name":"function 20","func":"msg.url = global.get(\"cam1url\") + \"LAPI/V1.0/PTZ/ZoomFocusPos?ChannelID=0\";\nmsg.payload = msg.payload = {\n    \"ZoomPos\": global.get(\"cam1zoom\"),\n    \"FocusPos\": global.get(\"cam1focus\"),\n    \"FocusCorrectPara\": 257,\n    \"NotTriggerFocus\": 1\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":160,"wires":[["c1ba72e87ef384ec","415052e541bb7a88"]]},{"id":"d9d7dc4ac7afafd6","type":"debug","z":"e5b6339a0f552a15","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":160,"wires":[]},{"id":"7700fd3c7ede42d7","type":"link in","z":"e5b6339a0f552a15","name":"IN_CAMERA","links":["e8a61dedecd86c53"],"x":235,"y":120,"wires":[["51e2904ef44b90cf"]]},{"id":"da1b5f9e56fff103","type":"function","z":"e5b6339a0f552a15","name":"function 40","func":"\nreturn {payload: {}};","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":40,"wires":[["64fe65e72bf42a72"]]},{"id":"64fe65e72bf42a72","type":"http request","z":"e5b6339a0f552a15","name":"READ ZoomFocusPos","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.1.13/LAPI/V1.0/PTZ/ZoomFocusPos?ChannelID=0","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"digest","senderr":false,"headers":[],"x":760,"y":40,"wires":[["bd081ea9260bef2f","c49e053f8cf9090c"]]},{"id":"c49e053f8cf9090c","type":"json","z":"e5b6339a0f552a15","name":"","property":"payload","action":"obj","pretty":false,"x":790,"y":120,"wires":[["221569e9e0424a8e","bd081ea9260bef2f"]]},{"id":"221569e9e0424a8e","type":"change","z":"e5b6339a0f552a15","name":"","rules":[{"t":"set","p":"cam1zoom","pt":"global","to":"payload.Response.Data.ZoomPos","tot":"msg"},{"t":"set","p":"cam1focus","pt":"global","to":"payload.Response.Data.FocusPos","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":120,"wires":[[]]},{"id":"bd081ea9260bef2f","type":"debug","z":"e5b6339a0f552a15","name":"debug 21","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1060,"y":40,"wires":[]},{"id":"afb2b70871c2d239","type":"function","z":"e5b6339a0f552a15","name":"do auto","func":"// 分段线性插值函数\nfunction getValuesByDistance(distance) {\n    // 数据点按distance排序\n    const dataPoints = [\n        { distance: 0.919, focus: 6390, zoom: 689 },\n        { distance: 1.956, focus: 5332, zoom: 895 },\n        { distance: 2.484, focus: 4228, zoom: 1076 },\n\n        { distance: 3.904, focus: 1476, zoom: 1522 },\n        { distance: 4.307, focus: 1237, zoom: 1595 },\n        { distance: 4.794, focus: 1476, zoom: 1722 },\n        { distance: 4.95, focus: 1882, zoom: 1763 },\n        { distance: 5.567, focus: 5314, zoom: 1923 },\n        { distance: 5.823, focus: 8218, zoom: 1990 },\n        { distance: 7.065, focus: 8590, zoom: 1990 },\n\n    ];\n    \n    // 边界情况：小于最小值\n    if (distance <= dataPoints[0].distance) {\n        return {\n            focus: dataPoints[0].focus,\n            zoom: dataPoints[0].zoom\n        };\n    }\n    \n    // 边界情况：大于最大值\n    if (distance >= dataPoints[dataPoints.length - 1].distance) {\n        const lastPoint = dataPoints[dataPoints.length - 1];\n        return {\n            focus: lastPoint.focus,\n            zoom: lastPoint.zoom\n        };\n    }\n    \n    // 查找插值区间并进行线性插值\n    for (let i = 0; i < dataPoints.length - 1; i++) {\n        const p1 = dataPoints[i];\n        const p2 = dataPoints[i + 1];\n        \n        if (distance >= p1.distance && distance <= p2.distance) {\n            // 计算插值系数\n            const t = (distance - p1.distance) / (p2.distance - p1.distance);\n            \n            // 线性插值计算\n            const focus = Math.round(p1.focus + (p2.focus - p1.focus) * t);\n            const zoom = Math.round(p1.zoom + (p2.zoom - p1.zoom) * t);\n            \n            return {\n                focus: focus,\n                zoom: zoom\n            };\n        }\n    }\n}\n\nvar obj = getValuesByDistance( global.get('laser') );\nglobal.set(\"cam1zoom\",obj.zoom);\nglobal.set(\"cam1focus\", obj.focus);\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":340,"wires":[["51e2904ef44b90cf"]]},{"id":"5f306ad82463b988","type":"link in","z":"e5b6339a0f552a15","name":"IN_DO_AUTO","links":["b2274bf8610139dc"],"x":145,"y":460,"wires":[["ea041fb6cc676f74"]]},{"id":"415052e541bb7a88","type":"debug","z":"e5b6339a0f552a15","name":"debug 32","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":580,"y":240,"wires":[]},{"id":"d87358bc77f9312d","type":"trigger","z":"e5b6339a0f552a15","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-2","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":340,"y":340,"wires":[["afb2b70871c2d239"]]},{"id":"c3fbc1fb9de34742","type":"inject","z":"e5b6339a0f552a15","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":300,"wires":[["d87358bc77f9312d"]]},{"id":"b8a54df008ee846f","type":"link in","z":"e5b6339a0f552a15","name":"IN_DO_MANUAL","links":["97c3d5bbf7d0cc8d"],"x":145,"y":500,"wires":[["5104e5d5998ee777"]]},{"id":"5104e5d5998ee777","type":"function","z":"e5b6339a0f552a15","name":"function 49","func":"\nreturn {payload: 1,reset:1};","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":500,"wires":[["d87358bc77f9312d"]]},{"id":"ea041fb6cc676f74","type":"function","z":"e5b6339a0f552a15","name":"function 50","func":"\nreturn {payload: 1};","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":460,"wires":[["d87358bc77f9312d"]]},{"id":"2edc2bb81c613522","type":"inject","z":"e5b6339a0f552a15","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":40,"wires":[["da1b5f9e56fff103"]]},{"id":"72aef53e6ad2c058","type":"link in","z":"e5b6339a0f552a15","name":"IN_READ_CAMERA","links":["57c32e2524ecd17c"],"x":355,"y":80,"wires":[["da1b5f9e56fff103"]]},{"id":"7e4aa85965883ccb","type":"tcp in","z":"e5b6339a0f552a15","name":"","server":"client","host":"localhost","port":"1991","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","trim":false,"base64":false,"tls":"","x":270,"y":640,"wires":[["1d9fb3a9a00038a1","f2f61a8fe617af6f"]]},{"id":"6a88d9d7a7f83e5e","type":"tcp out","z":"e5b6339a0f552a15","name":"","host":"","port":"","beserver":"reply","base64":false,"end":false,"tls":"","x":430,"y":720,"wires":[]},{"id":"1d9fb3a9a00038a1","type":"debug","z":"e5b6339a0f552a15","name":"debug 33","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":520,"y":600,"wires":[]},{"id":"b8c59876c944c496","type":"inject","z":"e5b6339a0f552a15","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":800,"wires":[["3a7e58cf30976965"]]},{"id":"3a7e58cf30976965","type":"function","z":"e5b6339a0f552a15","name":"function 52","func":"msg.payload = {\n    cmd: \"detect\"\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":800,"wires":[["19eadc9660e828c6"]]},{"id":"19eadc9660e828c6","type":"json","z":"e5b6339a0f552a15","name":"","property":"payload","action":"str","pretty":false,"x":410,"y":800,"wires":[["09341220111c01fe","5a2b99bb0a2530de"]]},{"id":"09341220111c01fe","type":"debug","z":"e5b6339a0f552a15","name":"debug 34","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":780,"y":800,"wires":[]},{"id":"5a2b99bb0a2530de","type":"function","z":"e5b6339a0f552a15","name":"function 53","func":"msg.payload += \"\\n\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":760,"wires":[["6a88d9d7a7f83e5e"]]},{"id":"d15e0b5a2f53d5e7","type":"http in","z":"e5b6339a0f552a15","name":"","url":"/detect","method":"get","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":130,"y":920,"wires":[["1f930d210ed2856f"]]},{"id":"3b7e4d5996beb155","type":"http response","z":"e5b6339a0f552a15","name":"","statusCode":"","headers":{},"x":690,"y":640,"wires":[]},{"id":"1f930d210ed2856f","type":"function","z":"e5b6339a0f552a15","name":"function 54","func":"global.set(\"detect_g\",msg);\nreturn {payload: 1};","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":920,"wires":[["3a7e58cf30976965"]]},{"id":"f2f61a8fe617af6f","type":"function","z":"e5b6339a0f552a15","name":"function 55","func":"var msg2 = global.get(\"detect_g\");\nmsg2.payload = msg.payload;\nreturn msg2;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":640,"wires":[["3b7e4d5996beb155"]]},{"id":"e8739e1fa1b0bf99","type":"function","z":"e5b6339a0f552a15","name":"do zoom","func":"// 分段线性插值函数（仅计算 zoom）\nfunction getZoomByDistance(distance) {\n    // 数据点（按 distance 从小到大排列）\n    const dataPoints = [\n        { distance: 2.159, zoom: 0 },\n        { distance: 10.455, zoom: 1312 },\n        { distance: 15.652, zoom: 1522 },\n        { distance: 23.565, zoom: 1682 },\n    ];\n\n    // 边界情况：小于最小值\n    if (distance <= dataPoints[0].distance) {\n        return dataPoints[0].zoom;\n    }\n\n    // 边界情况：大于最大值\n    if (distance >= dataPoints[dataPoints.length - 1].distance) {\n        return dataPoints[dataPoints.length - 1].zoom;\n    }\n\n    // 查找插值区间并进行线性插值\n    for (let i = 0; i < dataPoints.length - 1; i++) {\n        const p1 = dataPoints[i];\n        const p2 = dataPoints[i + 1];\n\n        if (distance >= p1.distance && distance <= p2.distance) {\n            // 计算插值系数\n            const t = (distance - p1.distance) / (p2.distance - p1.distance);\n\n            // 线性插值计算 zoom\n            const zoom = Math.round(p1.zoom + (p2.zoom - p1.zoom) * t);\n            return zoom;\n        }\n    }\n}\n\nvar distance = global.get('laser');   // 获取激光测距值\nvar zoom = getZoomByDistance(distance);\nglobal.set(\"cam1zoom\", zoom);\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":1100,"wires":[["23bfd72f11373ef1"]]},{"id":"23bfd72f11373ef1","type":"function","z":"e5b6339a0f552a15","name":"function 56","func":"msg.url = global.get(\"cam1url\") + \"LAPI/V1.0/PTZ/ZoomFocusPos?ChannelID=0\";\nmsg.payload = msg.payload = {\n    \"ZoomPos\": global.get(\"cam1zoom\"),\n    // \"FocusPos\": global.get(\"cam1focus\"),\n    // \"FocusCorrectPara\": 257,\n    \"NotTriggerFocus\": 0\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":1100,"wires":[["2ee06689bacaa68f"]]},{"id":"2ee06689bacaa68f","type":"http request","z":"e5b6339a0f552a15","name":"命令下发","method":"PUT","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"digest","senderr":false,"headers":[],"x":830,"y":1100,"wires":[["22b3abbc98b78e9b","d9b711300bebc125","fd94fde69c11a501"]]},{"id":"914a818a87a52063","type":"link in","z":"e5b6339a0f552a15","name":"IN_DO_ZOOM","links":["47024385ab1a210a"],"x":315,"y":1060,"wires":[["e8739e1fa1b0bf99"]]},{"id":"939d6030a3e658c2","type":"function","z":"e5b6339a0f552a15","name":"AUTO_FOCUS","func":"\n\nreturn { payload: { \"PTZCmd\": 519, \"ContinueTime\": 0, \"Para1\": 0, \"Para2\": 0, \"Para3\": 0 } };","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":1220,"wires":[["a8ba91b1247d8767"]]},{"id":"1c840bf645f028d4","type":"link in","z":"e5b6339a0f552a15","name":"IN_AUTO_FOCUS","links":["e96a36831945fbcf"],"x":315,"y":1180,"wires":[["939d6030a3e658c2"]]},{"id":"a8ba91b1247d8767","type":"http request","z":"e5b6339a0f552a15","name":"命令下发","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://192.168.1.13/LAPI/V1.0/Channel/0/PTZ/PTZCtrl","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"digest","senderr":false,"headers":[],"x":620,"y":1220,"wires":[[]]},{"id":"ccf8fddf2b43b0d3","type":"inject","z":"e5b6339a0f552a15","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":1260,"wires":[["939d6030a3e658c2"]]},{"id":"22b3abbc98b78e9b","type":"delay","z":"e5b6339a0f552a15","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":980,"y":1100,"wires":[["939d6030a3e658c2"]]},{"id":"d9b711300bebc125","type":"delay","z":"e5b6339a0f552a15","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":980,"y":1060,"wires":[["da1b5f9e56fff103"]]},{"id":"b582b8e803eaf185","type":"function","z":"e5b6339a0f552a15","name":"function 57","func":"var data = {\n    distance: global.get(\"laser\"),\n    zoom: global.get(\"cam1zoom\"),\n    focus: global.get(\"cam1focus\")\n};\nmsg.payload = data;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1170,"y":1020,"wires":[["32c378cf6290c96d"]]},{"id":"fd94fde69c11a501","type":"delay","z":"e5b6339a0f552a15","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":980,"y":1020,"wires":[["b582b8e803eaf185"]]},{"id":"cf462616f7d18887","type":"file","z":"e5b6339a0f552a15","name":"","filename":"d:\\cam.txt","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1720,"y":1020,"wires":[[]]},{"id":"32c378cf6290c96d","type":"json","z":"e5b6339a0f552a15","name":"","property":"payload","action":"str","pretty":false,"x":1370,"y":1020,"wires":[["bf4c03a1c914fef7"]]},{"id":"bf4c03a1c914fef7","type":"function","z":"e5b6339a0f552a15","name":"function 58","func":"msg.payload += \",\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1530,"y":1020,"wires":[["cf462616f7d18887"]]},{"id":"c7d0955d592b4cdb","type":"serial in","z":"c6c10f6d57076b13","name":"","serial":"bcb0ab03116fc4bb","x":210,"y":160,"wires":[["4153d57940621d18","5476566185edf1a0"]]},{"id":"5fe70d29f7588b66","type":"serial out","z":"c6c10f6d57076b13","name":"","serial":"bcb0ab03116fc4bb","x":410,"y":220,"wires":[]},{"id":"4153d57940621d18","type":"debug","z":"c6c10f6d57076b13","name":"debug 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":360,"y":80,"wires":[]},{"id":"49a7cb4ad8663d3e","type":"inject","z":"c6c10f6d57076b13","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"2","topic":"","payload":"","payloadType":"date","x":160,"y":340,"wires":[["af639b8982b9af62"]]},{"id":"af639b8982b9af62","type":"function","z":"c6c10f6d57076b13","name":"function 8","func":"let buf = Buffer.from([0x01, 0x03, 0x00, 0x00, 0x00, 0x02, 0xC4, 0x0b]);\nmsg.payload = buf;  // 输出 Buffer\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":340,"wires":[["5fe70d29f7588b66"]]},{"id":"5476566185edf1a0","type":"function","z":"c6c10f6d57076b13","name":"function 12","func":"var val = msg.payload[3]*0x1000000 + \n    msg.payload[4]*0x10000+\n    msg.payload[5]*0x100 +\n    msg.payload[6] ;\nglobal.set(\"laser\",val/1000);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":160,"wires":[[]]},{"id":"3e25d14686acd2a3","type":"http request","z":"b48f1bf98b8323df","name":"focus","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://192.168.1.64/ISAPI/System/Video/inputs/channels/1/focus","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"digest","senderr":false,"headers":[],"x":480,"y":300,"wires":[["160896b78c79d094","395709b6327e47fc"]]},{"id":"a64410df8c4beb81","type":"inject","z":"b48f1bf98b8323df","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":300,"wires":[["49c001c3c0233a7c"]]},{"id":"49c001c3c0233a7c","type":"function","z":"b48f1bf98b8323df","name":"function 16","func":"msg.payload = '<?xml version=\"1.0\" encoding=\"UTF-8\"?><FocusData><focus>-90</focus></FocusData>';\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":300,"wires":[["3e25d14686acd2a3"]]},{"id":"160896b78c79d094","type":"debug","z":"b48f1bf98b8323df","name":"debug 9","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":300,"wires":[]},{"id":"1a56c59c5e5d4ca5","type":"http request","z":"b48f1bf98b8323df","name":"focus","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://192.168.1.64/ISAPI/System/Video/inputs/channels/1/focus","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"digest","senderr":false,"headers":[],"x":480,"y":400,"wires":[["160896b78c79d094"]]},{"id":"3d5f2e9d1fec7f2d","type":"inject","z":"b48f1bf98b8323df","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":400,"wires":[["001ea129a09a23f2"]]},{"id":"001ea129a09a23f2","type":"function","z":"b48f1bf98b8323df","name":"function 17","func":"msg = {};\nmsg.payload = '<?xml version=\"1.0\" encoding=\"UTF-8\"?><FocusData><focus>0</focus></FocusData>';\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":400,"wires":[["1a56c59c5e5d4ca5"]]},{"id":"395709b6327e47fc","type":"delay","z":"b48f1bf98b8323df","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":320,"y":360,"wires":[["001ea129a09a23f2"]]},{"id":"caa5b65ff4398753","type":"http request","z":"b48f1bf98b8323df","name":"continuous","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://192.168.1.64/ISAPI/PTZCtrl/channels/1/continuous","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"digest","senderr":false,"headers":[],"x":500,"y":540,"wires":[["cd41e5d7f2c62781","5044a56b3d0f060e"]]},{"id":"4c761999be507c50","type":"inject","z":"b48f1bf98b8323df","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":540,"wires":[["8ebde8868f0f8602"]]},{"id":"8ebde8868f0f8602","type":"function","z":"b48f1bf98b8323df","name":"function 18","func":"msg.payload = '<?xml version=\"1.0\" encoding=\"UTF-8\"?><PTZData><zoom>60</zoom></PTZData>';\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":540,"wires":[["caa5b65ff4398753"]]},{"id":"8c4f39e811b8eb9c","type":"http request","z":"b48f1bf98b8323df","name":"continuous","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://192.168.1.64/ISAPI/PTZCtrl/channels/1/continuous","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"digest","senderr":false,"headers":[],"x":500,"y":640,"wires":[["5044a56b3d0f060e"]]},{"id":"eab05c27f19ea84d","type":"inject","z":"b48f1bf98b8323df","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":640,"wires":[["b197522b0c3a0afa"]]},{"id":"b197522b0c3a0afa","type":"function","z":"b48f1bf98b8323df","name":"function 19","func":"msg = {};\nmsg.payload = '<?xml version=\"1.0\" encoding=\"UTF-8\"?><PTZData><zoom>0</zoom></PTZData>';\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":640,"wires":[["8c4f39e811b8eb9c"]]},{"id":"cd41e5d7f2c62781","type":"delay","z":"b48f1bf98b8323df","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":330,"y":600,"wires":[["b197522b0c3a0afa"]]},{"id":"5044a56b3d0f060e","type":"debug","z":"b48f1bf98b8323df","name":"debug 10","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":560,"wires":[]},{"id":"3fd51fba37e4f909","type":"http request","z":"b48f1bf98b8323df","name":"deviceInfo","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.1.64:80/ISAPI/System/deviceInfo","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"digest","senderr":false,"headers":[],"x":550,"y":220,"wires":[["78c196f3ace2b4cd"]]},{"id":"01fd33cb21d61d01","type":"inject","z":"b48f1bf98b8323df","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":220,"wires":[["80c1550f13536847"]]},{"id":"80c1550f13536847","type":"function","z":"b48f1bf98b8323df","name":"function 21","func":"// msg.payload = '<?xml version=\"1.0\" encoding=\"UTF-8\"?><FocusData><focus>-60</focus></FocusData>';\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":220,"wires":[["3fd51fba37e4f909"]]},{"id":"78c196f3ace2b4cd","type":"debug","z":"b48f1bf98b8323df","name":"debug 11","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":220,"wires":[]},{"id":"d59ba1328401e7bc","type":"http request","z":"b48f1bf98b8323df","name":"token","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.1.64/ISAPI/Security/token?format=json","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"digest","senderr":false,"headers":[],"x":530,"y":160,"wires":[["01da24c8c0a4856f"]]},{"id":"0a1358be58ae69c9","type":"inject","z":"b48f1bf98b8323df","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":160,"wires":[["d5fb53ba0eadf697"]]},{"id":"d5fb53ba0eadf697","type":"function","z":"b48f1bf98b8323df","name":"function 22","func":"// msg.payload = '<?xml version=\"1.0\" encoding=\"UTF-8\"?><FocusData><focus>-60</focus></FocusData>';\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":160,"wires":[["d59ba1328401e7bc"]]},{"id":"01da24c8c0a4856f","type":"debug","z":"b48f1bf98b8323df","name":"debug 12","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":160,"wires":[]},{"id":"7b3476b0b12df77b","type":"http request","z":"b48f1bf98b8323df","name":"capabilities","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.1.64/ISAPI/System/capabilities?type=all","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"digest","senderr":false,"headers":[],"x":530,"y":120,"wires":[["45933997d1b31e2a"]]},{"id":"8bf8f01bddd3d6cc","type":"inject","z":"b48f1bf98b8323df","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":120,"wires":[["f661768af61fbb87"]]},{"id":"f661768af61fbb87","type":"function","z":"b48f1bf98b8323df","name":"function 23","func":"// msg.payload = '<?xml version=\"1.0\" encoding=\"UTF-8\"?><FocusData><focus>-60</focus></FocusData>';\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":120,"wires":[["7b3476b0b12df77b"]]},{"id":"45933997d1b31e2a","type":"debug","z":"b48f1bf98b8323df","name":"debug 13","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":720,"y":120,"wires":[]},{"id":"6242f8f7dbe394a0","type":"http request","z":"b48f1bf98b8323df","name":"capabilities-","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.1.64/ISAPI/PTZCtrl/channels/1/capabilities","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"digest","senderr":false,"headers":[],"x":490,"y":80,"wires":[["34fd4d18540a380a"]]},{"id":"0e3c9d9374f4478d","type":"inject","z":"b48f1bf98b8323df","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":80,"wires":[["449d94281e8e203b"]]},{"id":"449d94281e8e203b","type":"function","z":"b48f1bf98b8323df","name":"function 24","func":"// msg.payload = '<?xml version=\"1.0\" encoding=\"UTF-8\"?><FocusData><focus>-60</focus></FocusData>';\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":80,"wires":[["6242f8f7dbe394a0"]]},{"id":"34fd4d18540a380a","type":"debug","z":"b48f1bf98b8323df","name":"debug 14","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":80,"wires":[]},{"id":"2b5202eab0722ab8","type":"http request","z":"b48f1bf98b8323df","name":"presets","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.1.64/ISAPI/PTZCtrl/channels/1/presets","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"digest","senderr":false,"headers":[],"x":500,"y":740,"wires":[["7d525cec56c5f24e"]]},{"id":"2f8f07d4eda82546","type":"inject","z":"b48f1bf98b8323df","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":740,"wires":[["30ab8a64bb7fc88f"]]},{"id":"30ab8a64bb7fc88f","type":"function","z":"b48f1bf98b8323df","name":"function 25","func":"// msg.payload = '<?xml version=\"1.0\" encoding=\"UTF-8\"?><FocusData><focus>-60</focus></FocusData>';\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":740,"wires":[["2b5202eab0722ab8"]]},{"id":"7d525cec56c5f24e","type":"debug","z":"b48f1bf98b8323df","name":"debug 15","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":740,"wires":[]},{"id":"9a9e70e26ce5e600","type":"http request","z":"b48f1bf98b8323df","name":"absolute","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://192.168.1.64/ISAPI/PTZCtrl/channels/1/absolute","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"digest","senderr":false,"headers":[],"x":500,"y":860,"wires":[["ad2a9fe8eaef190b"]]},{"id":"a81e0bada6a54cbb","type":"inject","z":"b48f1bf98b8323df","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":860,"wires":[["f12d635053108fae"]]},{"id":"f12d635053108fae","type":"function","z":"b48f1bf98b8323df","name":"function 26","func":"msg.payload = \"<?xml version=\\\"1.0\\\" encoding=\\\"UTF-8\\\"?><PTZData xmlns=\\\"http://www.isapi.org/ver20/XMLSchema\\\" version=\\\"2.0\\\">  <AbsoluteHigh>   <absoluteZoom>100</absoluteZoom>  </AbsoluteHigh></PTZData>\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":860,"wires":[["9a9e70e26ce5e600"]]},{"id":"ad2a9fe8eaef190b","type":"debug","z":"b48f1bf98b8323df","name":"debug 16","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":860,"wires":[]},{"id":"489b64d6aecd476f","type":"http request","z":"b48f1bf98b8323df","name":"absolute2","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://192.168.1.64/ISAPI/PTZCtrl/channels/1/absolute","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"digest","senderr":false,"headers":[],"x":480,"y":940,"wires":[["88c9f1b0562f9694"]]},{"id":"b5a9592edee6a138","type":"inject","z":"b48f1bf98b8323df","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":940,"wires":[["161e3421951fc9e7"]]},{"id":"161e3421951fc9e7","type":"function","z":"b48f1bf98b8323df","name":"function 27","func":"msg.payload = \"<?xml version=\\\"1.0\\\" encoding=\\\"UTF-8\\\"?><PTZData xmlns=\\\"http://www.isapi.org/ver20/XMLSchema\\\" version=\\\"2.0\\\">  <AbsoluteHigh>   <absoluteZoom>30</absoluteZoom>  </AbsoluteHigh></PTZData>\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":940,"wires":[["489b64d6aecd476f"]]},{"id":"88c9f1b0562f9694","type":"debug","z":"b48f1bf98b8323df","name":"debug 17","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":940,"wires":[]},{"id":"f8b0dd81881439bf","type":"http request","z":"b48f1bf98b8323df","name":"ControllerCap","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.1.64/ISAPI/System/ControllerCap","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"digest","senderr":false,"headers":[],"x":500,"y":1060,"wires":[["e1b9691063643f7d"]]},{"id":"da19e4f2ce582a52","type":"inject","z":"b48f1bf98b8323df","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":1060,"wires":[["dc59ed5ed9cbeb21"]]},{"id":"dc59ed5ed9cbeb21","type":"function","z":"b48f1bf98b8323df","name":"function 28","func":"// msg.payload = \"<?xml version=\\\"1.0\\\" encoding=\\\"UTF-8\\\"?><PTZData xmlns=\\\"http://www.isapi.org/ver20/XMLSchema\\\" version=\\\"2.0\\\">  <AbsoluteHigh>   <absoluteZoom>30</absoluteZoom>  </AbsoluteHigh></PTZData>\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":1060,"wires":[["f8b0dd81881439bf"]]},{"id":"e1b9691063643f7d","type":"debug","z":"b48f1bf98b8323df","name":"debug 18","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":1060,"wires":[]},{"id":"7f2c529d3fd0f131","type":"http request","z":"b48f1bf98b8323df","name":"channels","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://192.168.1.64/ISAPI/Image/channels","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"digest","senderr":false,"headers":[],"x":520,"y":1160,"wires":[["df34fb89aea816c3"]]},{"id":"325b1f44747e8123","type":"inject","z":"b48f1bf98b8323df","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1160,"wires":[["5399f2684eb0120c"]]},{"id":"5399f2684eb0120c","type":"function","z":"b48f1bf98b8323df","name":"function 29","func":"// msg.payload = \"<?xml version=\\\"1.0\\\" encoding=\\\"UTF-8\\\"?><PTZData xmlns=\\\"http://www.isapi.org/ver20/XMLSchema\\\" version=\\\"2.0\\\">  <AbsoluteHigh>   <absoluteZoom>30</absoluteZoom>  </AbsoluteHigh></PTZData>\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":1160,"wires":[["7f2c529d3fd0f131"]]},{"id":"df34fb89aea816c3","type":"debug","z":"b48f1bf98b8323df","name":"debug 19","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":720,"y":1160,"wires":[]},{"id":"6c2d73eb558832ef","type":"http request","z":"b48f1bf98b8323df","name":"channels","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://192.168.1.64/ISAPI/PTZCtrl/channels/1/absoluteEx","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"digest","senderr":false,"headers":[],"x":520,"y":1260,"wires":[["25c997c0539ebb3c"]]},{"id":"62d60af0bff032e9","type":"inject","z":"b48f1bf98b8323df","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1260,"wires":[["e23e034ce85e99ca"]]},{"id":"e23e034ce85e99ca","type":"function","z":"b48f1bf98b8323df","name":"function 30","func":"msg.payload = '<?xml version=\"1.0\" encoding=\"UTF-8\" ?>'+\n\n    '<PTZAbsoluteEx xmlns=\"http://www.isapi.org/ver20/XMLSchema\" version=\"2.0\" >'+\n  '<absoluteZoom>'+\n    '100'+\n  '</absoluteZoom>'+\n  '<focus>'+\n    '18100'+\n  '</focus>'+\n  '<horizontalSpeed>'+\n    '5'+\n  '</horizontalSpeed>'+\n'</PTZAbsoluteEx> ';\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":1260,"wires":[["6c2d73eb558832ef"]]},{"id":"25c997c0539ebb3c","type":"debug","z":"b48f1bf98b8323df","name":"debug 20","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":720,"y":1260,"wires":[]},{"id":"e683fd20bb308972","type":"http request","z":"2c27b5a30c1815ba","name":"DeviceInfo","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.1.13/LAPI/V1.0/System/DeviceInfo","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"digest","senderr":false,"headers":[],"x":510,"y":60,"wires":[["a9f06831d4b3fcb7"]]},{"id":"814741353ed8f45a","type":"inject","z":"2c27b5a30c1815ba","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":60,"wires":[["f53fef7e285bbef3"]]},{"id":"f53fef7e285bbef3","type":"function","z":"2c27b5a30c1815ba","name":"function 33","func":"// msg.payload = \"<?xml version=\\\"1.0\\\" encoding=\\\"UTF-8\\\"?><PTZData xmlns=\\\"http://www.isapi.org/ver20/XMLSchema\\\" version=\\\"2.0\\\">  <AbsoluteHigh>   <absoluteZoom>30</absoluteZoom>  </AbsoluteHigh></PTZData>\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":60,"wires":[["e683fd20bb308972"]]},{"id":"a9f06831d4b3fcb7","type":"debug","z":"2c27b5a30c1815ba","name":"debug 23","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":60,"wires":[]},{"id":"a4028d985f10da85","type":"http request","z":"2c27b5a30c1815ba","name":"DeviceInfo","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.1.13/LAPI/V1.0/System/DeviceInfo","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":510,"y":200,"wires":[["a9f06831d4b3fcb7"]]},{"id":"e4ae5893717b2f58","type":"inject","z":"2c27b5a30c1815ba","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":200,"wires":[["6168c61acb98c66f"]]},{"id":"6168c61acb98c66f","type":"function","z":"2c27b5a30c1815ba","name":"function 34","func":"// msg.payload = \"<?xml version=\\\"1.0\\\" encoding=\\\"UTF-8\\\"?><PTZData xmlns=\\\"http://www.isapi.org/ver20/XMLSchema\\\" version=\\\"2.0\\\">  <AbsoluteHigh>   <absoluteZoom>30</absoluteZoom>  </AbsoluteHigh></PTZData>\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":200,"wires":[["a4028d985f10da85"]]},{"id":"b3791aee0e61a893","type":"http request","z":"2c27b5a30c1815ba","name":"PTZCtrl","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://192.168.1.13/LAPI/V1.0/Channel/0/PTZ/PTZCtrl","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"digest","senderr":false,"headers":[],"x":640,"y":320,"wires":[["68ec65d57dbf2df2"]]},{"id":"d9584a989b5cc4bf","type":"inject","z":"2c27b5a30c1815ba","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":320,"wires":[["09e635818fe314fb"]]},{"id":"09e635818fe314fb","type":"function","z":"2c27b5a30c1815ba","name":"function 35","func":"msg.payload = { \"PTZCmd\": 0x304, \"ContinueTime\": 0, \"Para1\": 0, \"Para2\": 0, \"Para3\": 0 }\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":320,"wires":[["3bc6979ff98862c0","8ccb023550b1d984"]]},{"id":"68ec65d57dbf2df2","type":"debug","z":"2c27b5a30c1815ba","name":"debug 24","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":820,"y":320,"wires":[]},{"id":"3bc6979ff98862c0","type":"json","z":"2c27b5a30c1815ba","name":"","property":"payload","action":"str","pretty":false,"x":450,"y":320,"wires":[["b3791aee0e61a893"]]},{"id":"ae0e03c0e779d536","type":"inject","z":"2c27b5a30c1815ba","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":400,"wires":[["cfde228015f8285a"]]},{"id":"cfde228015f8285a","type":"function","z":"2c27b5a30c1815ba","name":"function 36","func":"msg.payload = { \"PTZCmd\": 0x303, \"ContinueTime\": 0, \"Para1\": 0, \"Para2\": 0, \"Para3\": 0 }\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":400,"wires":[["3bc6979ff98862c0"]]},{"id":"8ccb023550b1d984","type":"delay","z":"2c27b5a30c1815ba","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":250,"y":360,"wires":[["cfde228015f8285a"]]},{"id":"c516c2e72bf921d9","type":"inject","z":"2c27b5a30c1815ba","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":260,"wires":[["9ee645fc9419b1e6"]]},{"id":"9ee645fc9419b1e6","type":"function","z":"2c27b5a30c1815ba","name":"function 37","func":"msg.payload = { \"PTZCmd\": 0x302, \"ContinueTime\": 0, \"Para1\": 0, \"Para2\": 0, \"Para3\": 0 }\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":260,"wires":[["3bc6979ff98862c0","7e7c2ec117337f12"]]},{"id":"7e7c2ec117337f12","type":"delay","z":"2c27b5a30c1815ba","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":450,"y":260,"wires":[["cfde228015f8285a"]]},{"id":"3bb0ddffe788902b","type":"inject","z":"2c27b5a30c1815ba","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":500,"wires":[["dd05a57c0ce2a9eb"]]},{"id":"dd05a57c0ce2a9eb","type":"function","z":"2c27b5a30c1815ba","name":"function 38","func":"msg.payload ={}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":500,"wires":[["d634deb6cd028166"]]},{"id":"6c6593278136ddf2","type":"http request","z":"2c27b5a30c1815ba","name":"ZoomFocusPos","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.1.13/LAPI/V1.0/PTZ/ZoomFocusPos?ChannelID=0","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"digest","senderr":false,"headers":[],"x":540,"y":680,"wires":[["29485e9811a95c28","6fea013ea17a0f5e"]]},{"id":"d634deb6cd028166","type":"json","z":"2c27b5a30c1815ba","name":"","property":"payload","action":"str","pretty":false,"x":490,"y":500,"wires":[["12fccf44fbeedef6"]]},{"id":"27638a0f1fb16fed","type":"debug","z":"2c27b5a30c1815ba","name":"debug 25","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":840,"y":500,"wires":[]},{"id":"12fccf44fbeedef6","type":"http request","z":"2c27b5a30c1815ba","name":"PTZCtrl","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.1.13/LAPI/V1.0/Channel/0/PTZ/ZoomFocusPos","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"digest","senderr":false,"headers":[],"x":640,"y":560,"wires":[["27638a0f1fb16fed"]]},{"id":"29485e9811a95c28","type":"debug","z":"2c27b5a30c1815ba","name":"debug 26","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":860,"y":680,"wires":[]},{"id":"5c787895c1e2acb8","type":"inject","z":"2c27b5a30c1815ba","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":680,"wires":[["efc50db5f75a0cbc"]]},{"id":"efc50db5f75a0cbc","type":"function","z":"2c27b5a30c1815ba","name":"function 39","func":"msg.payload ={}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":680,"wires":[["6c6593278136ddf2"]]},{"id":"6fea013ea17a0f5e","type":"json","z":"2c27b5a30c1815ba","name":"","property":"payload","action":"obj","pretty":false,"x":590,"y":760,"wires":[["f01f147c8e011d29","29485e9811a95c28"]]},{"id":"f01f147c8e011d29","type":"change","z":"2c27b5a30c1815ba","d":true,"name":"","rules":[{"t":"set","p":"cam1zoom","pt":"global","to":"payload.Response.Data.ZoomPos","tot":"msg"},{"t":"set","p":"cam1focus","pt":"global","to":"payload.Response.Data.FocusPos","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":760,"wires":[[]]},{"id":"80b8d2326bddd906","type":"http request","z":"2c27b5a30c1815ba","name":"ZoomFocusPos","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://192.168.1.13/LAPI/V1.0/PTZ/ZoomFocusPos?ChannelID=0","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"digest","senderr":false,"headers":[],"x":540,"y":860,"wires":[["b83dab288f91197f"]]},{"id":"0ddbfcc554401b56","type":"inject","z":"2c27b5a30c1815ba","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":860,"wires":[["0f334e6631584fcc"]]},{"id":"0f334e6631584fcc","type":"function","z":"2c27b5a30c1815ba","name":"function 31","func":"msg.payload ={\n    \"ZoomPos\":\t895,\n\t\"FocusPos\":\t5332,\n\t\"FocusCorrectPara\":\t257,\n\t\"NotTriggerFocus\": 1\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":860,"wires":[["80b8d2326bddd906"]]},{"id":"b83dab288f91197f","type":"debug","z":"2c27b5a30c1815ba","name":"debug 8","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":760,"y":860,"wires":[]},{"id":"9f0b0f85658e6680","type":"http request","z":"2c27b5a30c1815ba","name":"ZoomFocusPos","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.1.13/LAPI/V1.0/Channels/0/Media/Video/Streams/0/LiveStreamURL","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"digest","senderr":false,"headers":[],"x":500,"y":960,"wires":[["d656b247fbfd5863"]]},{"id":"d656b247fbfd5863","type":"debug","z":"2c27b5a30c1815ba","name":"debug 22","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":820,"y":960,"wires":[]},{"id":"aa54af56a0be5040","type":"inject","z":"2c27b5a30c1815ba","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":960,"wires":[["db1798834dfe6be1"]]},{"id":"db1798834dfe6be1","type":"function","z":"2c27b5a30c1815ba","name":"function 41","func":"msg.payload ={}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":960,"wires":[["9f0b0f85658e6680"]]},{"id":"f41b14f3c92f31c9","type":"rtsp2mjpeg","z":"2c27b5a30c1815ba","url":"rtsp://192.168.1.13:554/media/video1","username":"admin","password":"Zc@emergen135","rate":"","quality":"","resolution":"","x":530,"y":1180,"wires":[["6eaf957b75d73f64","7879dc6d05a25682"]]},{"id":"ae40bf98806279f7","type":"inject","z":"2c27b5a30c1815ba","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":1280,"wires":[["5569f60478062290"]]},{"id":"5569f60478062290","type":"function","z":"2c27b5a30c1815ba","name":"function 42","func":"msg.topic = \"start_conversion\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":1280,"wires":[["76c79aaaf0fbafde"]]},{"id":"6eaf957b75d73f64","type":"debug","z":"2c27b5a30c1815ba","name":"debug 27","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":760,"y":1120,"wires":[]},{"id":"6c77bf80ad110c28","type":"inject","z":"2c27b5a30c1815ba","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":1320,"wires":[["87cef1536d2f7aa5"]]},{"id":"87cef1536d2f7aa5","type":"function","z":"2c27b5a30c1815ba","name":"function 43","func":"msg.topic = \"stop_conversion\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":1320,"wires":[["76c79aaaf0fbafde"]]},{"id":"76c79aaaf0fbafde","type":"rtsp2mjpeg","z":"2c27b5a30c1815ba","url":"rtsp://192.168.1.64/ISAPI/Streaming/channels/101","username":"admin","password":"gene2025","rate":"","quality":"","resolution":"","x":610,"y":1300,"wires":[["668412d4f40cbe86","7879dc6d05a25682"]]},{"id":"668412d4f40cbe86","type":"debug","z":"2c27b5a30c1815ba","name":"debug 28","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":800,"y":1300,"wires":[]},{"id":"7879dc6d05a25682","type":"image viewer","z":"2c27b5a30c1815ba","name":"","width":160,"data":"payload","dataType":"msg","active":true,"x":830,"y":1420,"wires":[[]]},{"id":"0fa5c7fdc91917fa","type":"inject","z":"2c27b5a30c1815ba","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":1160,"wires":[["c6b96d48d90345f4"]]},{"id":"c6b96d48d90345f4","type":"function","z":"2c27b5a30c1815ba","name":"function 44","func":"msg.topic = \"start_conversion\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":1160,"wires":[["f41b14f3c92f31c9"]]},{"id":"606068d33b40baf3","type":"inject","z":"2c27b5a30c1815ba","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":1200,"wires":[["43c6d97bbda80ed5"]]},{"id":"43c6d97bbda80ed5","type":"function","z":"2c27b5a30c1815ba","name":"function 45","func":"msg.topic = \"stop_conversion\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":1200,"wires":[["f41b14f3c92f31c9"]]},{"id":"09f8deb063d1f84c","type":"inject","z":"2c27b5a30c1815ba","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":1540,"wires":[["c814119c68b8e865"]]},{"id":"c814119c68b8e865","type":"function","z":"2c27b5a30c1815ba","name":"function 46","func":"msg.topic = \"start_conversion\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":1540,"wires":[["84ca84bfd0dfb1d7"]]},{"id":"48ac17123c2370bf","type":"inject","z":"2c27b5a30c1815ba","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":1580,"wires":[["fb8f0c7d3524306b"]]},{"id":"fb8f0c7d3524306b","type":"function","z":"2c27b5a30c1815ba","name":"function 47","func":"msg.topic = \"stop_conversion\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":1580,"wires":[["84ca84bfd0dfb1d7"]]},{"id":"84ca84bfd0dfb1d7","type":"rtsp2mjpeg","z":"2c27b5a30c1815ba","url":"rtsp://192.168.1.43/stream0","username":"admin","password":"123456","rate":"","quality":"","resolution":"","x":650,"y":1560,"wires":[["ffe367df1e7d9d8b","03986d8a687cd73c"]]},{"id":"ffe367df1e7d9d8b","type":"debug","z":"2c27b5a30c1815ba","name":"debug 29","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":840,"y":1560,"wires":[]},{"id":"03986d8a687cd73c","type":"image viewer","z":"2c27b5a30c1815ba","name":"","width":160,"data":"payload","dataType":"msg","active":true,"x":830,"y":1620,"wires":[[]]},{"id":"9eab725dd3542047","type":"exec","z":"2c27b5a30c1815ba","command":"ffmpeg -i \"rtsp://admin:123456@192.168.1.43/stream0\" -vframes 1 -q:v 2 d:\\output2c11111111.jpg","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":670,"y":1720,"wires":[["d067637fa85a4c3c"],["d067637fa85a4c3c"],["d067637fa85a4c3c"]]},{"id":"131f3bb72fd77613","type":"inject","z":"2c27b5a30c1815ba","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":1680,"wires":[["9eab725dd3542047","103d99075b21c599"]]},{"id":"d067637fa85a4c3c","type":"debug","z":"2c27b5a30c1815ba","name":"debug 30","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":1720,"wires":[]},{"id":"103d99075b21c599","type":"debug","z":"2c27b5a30c1815ba","name":"debug 31","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":520,"y":1660,"wires":[]},{"id":"fb147bef71c23939","type":"inject","z":"39a4b5009cb84f4e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":380,"y":100,"wires":[["eb94ba194ceca5ba"]]},{"id":"eb94ba194ceca5ba","type":"function","z":"39a4b5009cb84f4e","name":"function 32","func":"global.set(\"cam1url\",\"http://192.168.1.13/\");\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":100,"wires":[[]]}]