node-red/flows.json
[{"id":"2f9b58d1f9172efa","type":"tab","label":"流程 1","disabled":false,"info":"","env":[]},{"id":"648db23c2690c43c","type":"http in","z":"2f9b58d1f9172efa","name":"","url":"/zoom","method":"get","upload":false,"swaggerDoc":"","x":140,"y":180,"wires":[["f08c7936b0b88bea"]]},{"id":"c2f362cae83a93a9","type":"http response","z":"2f9b58d1f9172efa","name":"","statusCode":"","headers":{},"x":450,"y":180,"wires":[]},{"id":"f08c7936b0b88bea","type":"function","z":"2f9b58d1f9172efa","name":"function 1","func":"msg.payload = 1;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":180,"wires":[["c2f362cae83a93a9"]]},{"id":"587321e860790c16","type":"http in","z":"2f9b58d1f9172efa","name":"","url":"/focus","method":"get","upload":false,"swaggerDoc":"","x":140,"y":240,"wires":[["a8c3b703f354befd"]]},{"id":"08c8c4ef50f1a2d4","type":"http response","z":"2f9b58d1f9172efa","name":"","statusCode":"","headers":{},"x":450,"y":240,"wires":[]},{"id":"a8c3b703f354befd","type":"function","z":"2f9b58d1f9172efa","name":"function 2","func":"msg.payload = 1;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":240,"wires":[["08c8c4ef50f1a2d4"]]},{"id":"27886ab86993c7c9","type":"http in","z":"2f9b58d1f9172efa","name":"","url":"/laser","method":"get","upload":false,"swaggerDoc":"","x":140,"y":300,"wires":[["1bd11b425532ca08"]]},{"id":"2053fd5b47d687eb","type":"http response","z":"2f9b58d1f9172efa","name":"","statusCode":"","headers":{},"x":450,"y":300,"wires":[]},{"id":"1bd11b425532ca08","type":"function","z":"2f9b58d1f9172efa","name":"function 3","func":"msg.payload = 1;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":300,"wires":[["2053fd5b47d687eb"]]},{"id":"04c9f951c4f39d15","type":"http in","z":"2f9b58d1f9172efa","name":"","url":"/setzoom","method":"get","upload":false,"swaggerDoc":"","x":150,"y":400,"wires":[["3c3e97c9bac6e3cb"]]},{"id":"68d757abce2dd03c","type":"http response","z":"2f9b58d1f9172efa","name":"","statusCode":"","headers":{},"x":450,"y":400,"wires":[]},{"id":"3c3e97c9bac6e3cb","type":"function","z":"2f9b58d1f9172efa","name":"function 4","func":"msg.payload = 1;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":400,"wires":[["68d757abce2dd03c"]]},{"id":"1f9673862d967ea6","type":"http in","z":"2f9b58d1f9172efa","name":"","url":"/setfocus","method":"get","upload":false,"swaggerDoc":"","x":150,"y":460,"wires":[["a4555070f3964a56"]]},{"id":"67f804b555d04d5a","type":"http response","z":"2f9b58d1f9172efa","name":"","statusCode":"","headers":{},"x":450,"y":460,"wires":[]},{"id":"a4555070f3964a56","type":"function","z":"2f9b58d1f9172efa","name":"function 5","func":"msg.payload = 1;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":460,"wires":[["67f804b555d04d5a"]]}]